<!DOCTYPE html>
<html>
<head>
  <title>Certificate generator</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'certificate_gen/mystyle.css' %}">
  <link rel="stylesheet" href="{% static 'certificate_gen/form.css' %}">
</head>
<body>
  <nav>
    <ul class="navbar">
      <li><a href="#signin">Sign In</a></li>
      <li class="dropdown">
        <a href="#products">Products</a>
        <ul class="dropdown-content">
          <li><a href="#product1">Product 1</a></li>
          <li><a href="#product2">Product 2</a></li>
          <!-- Add more product links here -->
        </ul>
      </li>
      <li><a href="#verify">Verify</a></li>
    </ul>
  </nav>

  <div class="content">

    {% block content %}

    {% endblock content %}

  </div>
</body>
</html>
