<!DOCTYPE html>
<html>
<head>
  <title>Certificate generator</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'certificate_gen/mystyle.css' %}">
  <link rel="stylesheet" href="{% static 'certificate_gen/form.css' %}">
  <link rel="stylesheet" href="{% static 'certificate_gen/verify.css' %}">
</head>
<body>
  <nav>
    <ul class="navbar">
      <li><a href={% url 'home_view' %}> Home</a></li>
      <li class="dropdown">
        <a href="{% url 'form_view' %}">Generate Certificate</a>
        {% comment %} <ul class="dropdown-content">
          <li><a href="#product1">Product 1</a></li>
          <li><a href="#product2">Product 2</a></li>
          <!-- Add more product links here -->
        </ul> {% endcomment %}
      </li>
      <li><a href="{% url 'verify_view' %}">Verify</a></li>
    </ul>
  </nav>

  <div class="content">

    {% block content %}

    {% endblock content %}

  </div>
</body>
</html>
