.verify_container {
    margin: auto;
    text-align: center;
    width: 60%;
    margin-top: 180px;
}
.input-field {
    padding: 20px;
    font-size: 16px;
    height: 80px;
    padding-left: 20px;
}
.verify-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    height: 80px;
    width: 250px;
}